<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Access Denied</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="shortcut icon" th:href="@{/images/shopme.svg}" type="image/x-icon">
    <link rel="icon" th:href="@{/images/shopme.svg}" type="image/x-icon">
</head>
<body>
<div th:replace="fragments :: symbols"></div>
<div th:replace="fragments :: header"></div>
<div class="container">
    <hr>
    <h2>Access Denied - You are not authorized.</h2>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>