<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head th:replace="fragments :: html_head"></head>
	<body>
		<div th:replace="fragments :: navbar_menu"></div>
		
		<!-- Content -->
		<div class="bg-image d-flex justify-content-center" th:style="'background-image: url('+ @{/images/shopme_bg.png} + ');'">
			<div class="container bg-white content col-md-10 col-sm-12">
				<div class="row align-items-center">
					<div class="col-md-8 col-sm-12">
						<h2><a class="page-header-link" th:classappend="${#request.getServletPath() == '/users' ? 'active' : ''}" th:href="@{/users}">
							<i class='fas fa-users header-icon'></i>Users</a>
						</h2>
					</div>
					<div class="col-md-4 col-sm-12">
						<form action="#" th:action="@{'/users/search/' + ${field} + '/' + ${sortDir} + '/' + ${offset} + '/' + ${users.size}}" method="get">
							<div class="input-group">
								<input type="text" class="form-control form-control-search" placeholder="Search..." name="keyword">
								<div class="input-group-append">
							    	<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
									<button class="btn btn-secondary" type="reset" value="Reset"><i class="fas fa-eraser"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
		        <hr>
		        <div class="row align-items-center">	
		            <div class="col align-self-center">
		            	<div class="row">
			            	<div class="col-xs-4 col-sm-6 col-md-4">
					        	<a class="btn btn-outline-success btn-add" th:href="@{/users/userForm}" role="button">Create User <i class='fas fa-user-plus'></i></a>
					        </div>
					        <div class="col-xs-4 col-sm-6 col-md-8">
					        	<div class="float-right">
						        	<a class="btn btn-info btn-export" href="#" role="button" id="dropdownExportMenuBtn">
										<i class="fa fa-download"></i>&nbsp Export <i class="fas fa-caret-down"></i>
									</a>
									<div class="dropdown-menu-export" id="dropDownExportMenu">
										<a class="dropdown-item export-link" th:href="@{/users/exportToCSV}">CSV &nbsp<i class="fas fa-file-csv"></i></a>
										<a class="dropdown-item export-link" th:href="@{/users/exportToExcel}">Excel &nbsp<i class="fas fa-file-excel"></i></a>
										<a class="dropdown-item export-link" th:href="@{/users/exportToPdf}">PDF &nbsp<i class="fas fa-file-pdf"></i></a>
									</div>
								</div>
					        </div>
					        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
					        	<div class="alert alert-info" id="alertMessage" role="alert" th:text="${message}" th:if="${message}"></div>
								<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
					        </div>
					    </div>
		                <table id="userTable" class="table">
		                    <thead class="thead-dark">
		                    <tr>
		                    	<th class="text-center">
		                    		<a th:href="@{'/users/joinDate/' + ${reverseSortDir} + '/0/' + ${users.size}}" class="table-header-link">Join Date 
		                        		<i class="fas fa-long-arrow-alt-up fa-arrow" th:classappend="${field == 'joinDate' and sortDir == 'asc' ? 'active-sort' : ''}"></i><i class="fas fa-long-arrow-alt-down fa-arrow" th:classappend="${field == 'joinDate' and sortDir == 'desc' ? 'active-sort' : ''}"></i>
		                        	</a>
		                    	</th>
		                        <th class="text-center">Photos</th>
		                        <th class="text-center">
		                        	<a th:href="@{'/users/email/' + ${reverseSortDir} + '/0/' + ${users.size}}" class="table-header-link">Email 
		                        		<i class="fas fa-long-arrow-alt-up fa-arrow" th:classappend="${field == 'email' and sortDir == 'asc' ? 'active-sort' : ''}"></i><i class="fas fa-long-arrow-alt-down fa-arrow" th:classappend="${field == 'email' and sortDir == 'desc' ? 'active-sort' : ''}"></i>
		                        	</a>
		                        </th>
		                        <th class="text-center">
		                        	<a th:href="@{'/users/firstName/' + ${reverseSortDir} + '/0/' + ${users.size}}" class="table-header-link">First Name 
		                        		<i class="fas fa-long-arrow-alt-up fa-arrow" th:classappend="${field == 'firstName' and sortDir == 'asc' ? 'active-sort' : ''}"></i><i class="fas fa-long-arrow-alt-down fa-arrow" th:classappend="${field == 'firstName' and sortDir == 'desc' ? 'active-sort' : ''}"></i>
		                        	</a>
		                        </th>
		                        <th class="text-center">
		                        	<a th:href="@{'/users/lastName/' + ${reverseSortDir} + '/0/' + ${users.size}}" class="table-header-link">Last Name 
		                        		<i class="fas fa-long-arrow-alt-up fa-arrow" th:classappend="${field == 'lastName' and sortDir == 'asc' ? 'active-sort' : ''}"></i><i class="fas fa-long-arrow-alt-down fa-arrow" th:classappend="${field == 'lastName' and sortDir == 'desc' ? 'active-sort' : ''}"></i>
		                        	</a>
		                        </th>
		                        <th class="text-center">Roles</th>
		                        <th class="text-center">
		                        	<a th:href="@{'/users/enabled/' + ${reverseSortDir} + '/0/' + ${users.size}}" class="table-header-link">Enabled</a>
		                        </th>
		                        <th class="text-center">Action</th>
		                    </tr>
		                    </thead>
		                    <tbody id="userTableContent">
		                    <tr th:each="user : ${users}" class="text-center">
		                    	<td th:text="${user.joinDate}" />
		                        <td>
			            			<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt="Photo" style="width: 5em;" />
									<img th:if="${user.photos == null}" th:src="@{/images/blank_profile_picture.webp}" alt="Photo" style="width: 5em;" />
		                        </td>
		                        <td th:text="${user.email}" />
		                        <td th:text="${user.firstName}" />
		                        <td th:text="${user.lastName}" />
		                        <td><div th:each="userRole : ${user.roles}" th:text="'[' + ${userRole.name} + '] '" /></td>
		                        <td th:if="${user.enabled}"><i class="fas fa-check-circle fa-enabled"></i></td>
		                        <td th:unless="${user.enabled}"><i class="far fa-times-circle fa-disabled"></i></td>
		                        <td>
		                            <a th:href="@{/users/showFormForUpdate(userId=${user.id})}" class="btn btn-md btn-edit-user"><i class="fas fa-edit"></i></a>
		                            <a th:href="@{/users/delete(userId=${user.id})}" class="btn btn-sm btn-delete-user confirm-delete"><i class="fas fa-trash"></i></a>
		                        </td>
		                    </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		        <hr>
		        <div class="row">
		        	<div class="col-md-3 col-sm-12">
		        		<p style="font-weight: bold;">Total Items: [[${totalItems}]]</p>
		        	</div>
		        	<div class="col-md-4 col-sm-4 align-items-center">
						<span>Items per page: </span>
						<button id="itemsPerPageBtn" class="dropbtn"><span th:text="${users.size}" /><i class="fas fa-caret-down" style="margin-left: 12px;"></i></button>
						<div id="itemsPerPageDropdown" class="dropdown-content">
							<a th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/0/5'}">5</a>
							<a th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/0/10'}">10</a>
							<a th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/0/50'}">50</a>
						</div>
		        	</div>
		        	<div class="col-md-5 col-sm-8">
		        		<div class="pagination float-right">
		        			<a class="caret" th:if="${offset > 0}" th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/' + ${offset-1} + '/' + ${users.size}}"><i class="fa fa-caret-left"></i></a>
						    <a th:each="pageNumber : ${pageNumbers}" th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/' + ${pageNumber-1} + '/' + ${users.size}}"
						        th:text=${pageNumber}
						        th:class="${pageNumber == users.number + 1} ? active" style="margin-left: 10px; color: cadetblue; font-size: larger;" ></a>
						    <a class="caret" th:if="${offset < totalPages-1}" th:href="@{'/users/' + ${field} + '/' + ${sortDir} + '/' + ${offset+1} + '/' + ${users.size}}"><i class="fa fa-caret-right" style="margin-left: 0.5em;"></i></a>
						</div>
		        	</div>
		        </div>
		        
		    </div>
		</div>
		<!-- Content -->
		
		<div th:replace="fragments :: footer"></div>
		<div th:replace="fragments :: scripts"></div>
	</body>
</html>