<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Save User</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>
        $(document).ready(function() {
            $("input").change(function(e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                    var file = e.originalEvent.srcElement.files[i];

                    var img = document.createElement("img");
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $("#selectedPhoto")
                            .attr('src', e.target.result)
                            .width(100)
                            .height(100);
                    };

                    reader.readAsDataURL(file);
                }
            });
        });
    </script>

    <style>
        .error {
            color: red;
        }
        <style>
        .divider:after,
        .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
        }

        .orange-background {background-color:#EE4D2D;}
        .white {color:#ffffff;}
        .left-align {text-align: left;}
    </style>
    </style>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img th:src="@{/images/shopme.svg}" width="40" height="32" alt="Shopme Logo" />
                <span class="fs-4" style="color: #ff4f00">Shopme</span>
                <pre>&#9;</pre>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a th:href="@{/Users}" class="nav-link orange-color">Users</a></li>
                    <li class="nav-item"><a th:href="@{/Categories}" class="nav-link orange-color">Categories</a></li>
                    <li class="nav-item"><a th:href="@{/Brands}" class="nav-link orange-color">Brands</a></li>
                    <li class="nav-item"><a th:href="@{/Products}" class="nav-link orange-color">Products</a></li>
                    <li class="nav-item"><a th:href="@{/Customers}" class="nav-link orange-color">Customers</a></li>
                    <li class="nav-item"><a th:href="@{/Shipping}" class="nav-link orange-color">Shipping</a></li>
                    <li class="nav-item"><a th:href="@{/Orders}" class="nav-link orange-color">Orders</a></li>
                    <li class="nav-item"><a th:href="@{/SalesReport}" class="nav-link orange-color">Sales Report</a></li>
                    <li class="nav-item"><a th:href="@{/Articles}" class="nav-link orange-color">Articles</a></li>
                    <li class="nav-item"><a th:href="@{/Menus}" class="nav-link orange-color">Menus</a></li>
                    <li class="nav-item"><a th:href="@{/Settings}" class="nav-link orange-color">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<br>

<div class="container">

    <h3>Manage User | Create New User</h3>
    <hr>

    <form action="#" th:action="@{/SaveUser}" th:object="${user}" method="POST" enctype="multipart/form-data">

        <!-- Add hidden form field to handle update -->
        <!-- Hidden form field required for updates -->
        <!-- This binds to the model attribute. Tells your app which employee to update -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" name="isUpdate" th:value="${isUpdate}">

        <div th:if="${emailDuplicateError}" th:text="${emailDuplicateError}" class="error"></div>
        <div th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" ></div>
        <label for="formFile" class="form-label">Email:</label>
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email" />

        <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error" ></div>
		<label for="formFile" class="form-label">First Name:</label>
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name" />

        <div th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error" ></div>
		<label for="formFile" class="form-label">Last Name:</label>
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name" />

        <div th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" ></div>
		<label for="formFile" class="form-label">Password:</label>
        <input type="password" th:field="*{password}" class="form-control mb-4 col-4" placeholder="Password" />

        <p>
            <div class="form-check">
                <input type="checkbox" name="enabled" class="form-check-input" value="1"
                       th:text="Enabled"
                       th:checked="${user.enabled}" /><input type="hidden" name="enabled" value="0"/>
            </div>
        </p>

        <div th:if="${roleEmptyError}" th:text="${roleEmptyError}" class="error"></div>
        <p>
			<label>Roles:</label>
            <div class="form-check" th:each="role : ${rolesList}">
                <input type="checkbox" name="roles" class="form-check-input"
                       th:text="${role.name}"
                       th:value="${role.id}" th:field="*{roles}" /><!--<input type="hidden" name="roles" value="0"/>-->
                        &nbsp;-&nbsp;
                <label style="font-size: 13px; font-style: italic;" th:text="${role.description}"></label>
            </div>
        <p>

        <div th:if="${photoError}" th:text="${photoError}" class="error"></div>
        <div class="mb-3">
			<label for="photo" class="form-label">Photo:</label>
			<input class="form-control" type="file" id="photo" name="photo">
		</div>

        <p>
            <img id="selectedPhoto" src="" />
        </p>

        <br>

        <button type="submit" class="btn orange-background white col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/Users}">Back to Users</a>

</div>

<br>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img th:src="@{/images/shopme.svg}" width="40" height="32" alt="Shopme Logo" />
            </a>
            <span class="text-muted" >&copy; 2022 Shopme, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" th:href="@{https://twitter.com}"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="text-muted" th:href="@{https://instagram.com}"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="text-muted" th:href="@{https://facebook.com}"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
    </footer>
</div>

</body>