<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head th:replace="fragments :: html_head"></head>
	<body>
		<div th:replace="fragments :: navbar_menu"></div>
		
		<!-- Content -->
		<div class="bg-image container-fluid px-1 py-5 mx-auto" th:style="'background-image: url('+ @{/images/shopme_bg.png} + ');'">
		    <div class="row d-flex justify-content-center">
		        <div class="col-xl-7 col-lg-8 col-md-9 col-sm-12 text-center">
		        	<!-- Modal -->
				    <div class="modal fade" id="emailModal" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1><i class='fas fa-exclamation-circle' style="color: orangered;"></i></h1>&nbsp&nbsp
									<h2 class="modal-title" id="emailErrorTitle"></h2>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<span id="emailErrorBody"></span>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal End -->
		            <div class="card">
		            	<div class="row">
			            	<div class="col-md-12 center">
			            		<div id="photoUpload" class="photo-container">
			            			<span th:if="${user.photos}">
			            				<img id="thumbnail" class="prof-pic" th:src="@{${user.photosImagePath}}" alt="Photo" />
			            			</span>
			            			<span class="empty-prof-pic" th:unless="${user.photos}">
										<img id="thumbnail" class="prof-pic" th:src="@{/images/blank_profile_picture.webp}" alt="Photo" />
			            			</span>
					                <div class="overlay">
										<i class="fas fa-camera icon" style="font-size: 2em;"></i>
									</div>
								</div>
			            	</div>
		            	</div>
		                
		                <h5 th:if="${user.id}" class="text-center mb-4">Edit User</h5>
		                <h5 th:unless="${user.id}" class="text-center mb-4">Create User</h5>
		                <div class="alert alert-info" id="alertMessage" role="alert" th:text="${message}" th:if="${message}"></div>
						<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
		                <form action="#" id="userForm" class="form-card" name="userform" enctype="multipart/form-data" th:action="@{/users/save}" th:object="${user}" method="post">
		                	<!-- Add Hidden Form Field -->
		            		<input type="hidden" th:field="*{id}">
		            		
		                    <div class="row justify-content-between text-left">
		                        <div class="form-group col-md-6 col-sm-10 flex-column d-flex">
		                        	<label class="form-control-label px-3">First name<span class="text-danger"> *</span></label>
		                        	<input type="text" th:field="*{firstName}" id="fname" name="fname" placeholder="Enter first name" required />
		                        	<span class="error-message fnameError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
		                        </div>
		                        <div class="form-group col-sm-6 flex-column d-flex">
									<label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label>
									<input type="text" th:field="*{lastName}" id="lname" name="lname" placeholder="Enter last name" required />
									<span class="error-message lnameError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
								</div>
		                    </div>
		                    <div class="row justify-content-between text-left">
		                        <div class="form-group col-sm-6 flex-column d-flex">
		                        	<label class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
		                        	<input type="text" th:field="*{email}" id="email" name="email" placeholder="user@example.com" required />
		                        	<span class="error-message lnameError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		                        </div>
		                        <div class="form-group col-sm-6 flex-column d-flex" th:if="${user.id < 1}">
		                        	<label class="form-control-label px-3">Password<span class="text-danger"> *</span></label>
		                        	<input type="password" th:field="*{password}" id="password" class="pw-input" name="password" placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
		                        	<span id="pwError" class="error-message pwError">Please follow password requirements.</span>
		                        	<div class="pswd-info">
									    <h6>Password must meet the following requirements:</h6>
									    <ul style="padding-left: 2em;">
									        <li id="letter" class="invalid pw-letter">At least <strong>one letter</strong></li>
									        <li id="capital" class="invalid pw-capital">At least <strong>one capital letter</strong></li>
									        <li id="number" class="invalid pw-number">At least <strong>one number</strong></li>
									        <li id="length" class="invalid pw-length">Be at least <strong>8 characters</strong></li>
									    </ul>
									</div>
		                        </div>
		                    </div>
		                    <div class="row justify-content-between text-left">
		                        <div class="form-group col-sm-12 flex-column d-flex">
		                        	<label class="form-control-label px-3">Roles
		                        		<span id="rolesError" class="error-message">Please select at least one role.</span>
		                        	</label>
		                        	<div class="form-check roles-checkbox">
		                        		<div th:each="role : ${roles}">
		                        			<input class="form-checkbox-item" type="checkbox" name="roles"
								            th:text="${role.name}"
								            th:value="${role.id}"
								            th:field="*{roles}" />
								            <span th:text="' - ' + ${role.description}"></span>
		                        		</div>
									</div>
		                        </div>
		                    </div>
		                    <div class="row justify-content-between text-left">
		                        <div class="form-group col-sm-6 flex-column d-flex">
									<div class="custom-control custom-switch enabled-toggle-btn">
										<input type="checkbox" th:field="*{enabled}" class="custom-control-input" id="customSwitches">
										<label class="custom-control-label" for="customSwitches">Enabled</label>
									</div>
		                        </div>
								<div class="col-sm-6 text-right" th:if="${user.id}">
									<a th:href="@{/users/changePassword(userId=${user.id})}" id="changePassword">Change Password</a>
								</div>
		                        <div class="form-group col-sm-6 flex-column d-flex">
		                        	<input type="hidden" th:field="*{photos}" />
									<input type="file" class="visually-hidden" name="image" id="fileImage" accept="image/png, image/jpeg, image/webp" />
		                        </div>
		                    </div>
		                    <div class="row justify-content-end">
		                        <div class="form-group col-sm-12">
		                        	<button type="submit" class="btn btn-success btn-submit">Save</button>
		                        	<a th:href="@{/users}" class="btn btn-danger btn-cancel">Cancel</a>
		                        </div>
		                    </div>
		                </form>
		                
		            </div>
		        </div>
		    </div>
		</div>
		<!-- Content -->
		
		<div th:replace="fragments :: footer"></div>
		<div th:replace="fragments :: scripts"></div>
		<script type="text/javascript">
			$('#userForm').submit(function() {
				return checkDuplicateEmail(this);
			});
		    function checkDuplicateEmail(form) {
		        url = "[[@{/rest/users/checkEmail}]]";
		        userEmail = $("#email").val();
		        userId = $("#id").val();
		        csrfValue = $("input[name = '_csrf']").val();
		        params = {id: userId, email: userEmail, _csrf: csrfValue};
		
				console.log("#userEmail: " + userEmail);
		
		        $.post(url, params, function (response) {
		            if (response == "Ok") {
		                form.submit();
		            }
		            else if (response == "Duplicated") {
		                showAlert("Error", "The email " + userEmail + " is already taken.");
		            }
		            else {
		                showAlert("Error", "Unknown response");
		            }
		        }).fail(function () {
		            showAlert("Error", "Could not connect to server.")
		        })
		
		        return false;
		    }
		    
		    function showAlert(title, message) {
				$("#emailErrorTitle").text(title);
				$("#emailErrorBody").text(message);
				$("#emailModal").modal();
			}
		</script>
	</body>
</html>