.divider:after,

.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.orange-background {
    background-color:#EE4D2D;
}

.white {
    color:#ffffff;
}

.left-align {
    text-align: left;
}