
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #E7EBE0FF !important;
}
.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #7DB46CFF;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #E7EBE0FF ;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #ABD6DFFF !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #ABD6DFFF !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
*.icon-while {
	color: #ffffff;
}

*.icon-red {
	color: red;
}

*.icon-pink {
	color: pink;
}

*.icon-silver {
	color: silver;
}

*.icon-green {
	color: lawngreen;
}

*.color-white {
	color: white;
}

.colorWarning{
	color:#FFC107;
}
.colorDanger{
	color:#DC3545;
}
/*mobile*/
@media screen and (max-width: 768px) {
	div.full-details {
		display: none;
	}
}

/*tablet*/
@media screen and (max-width: 769px) and (max-width: 1024px) {
	div.full-details {
		display: block;
	}
}

/*pc*/
@media screen and (min-width: 1024px) {

}

.error {
	 color: red;
 }
#thumbnail {
	height: 100px;

}
